<div class="row">
	<div class="col-auto">
		<form (ngSubmit)="onSubmit()" #editMemberForm="ngForm">
			<div class="form-floating mb-2">
				<input type="text"
					   class="form-control"
					   id="firstName"
					   name="firstName"
					   placeholder="First Name"
					   [(ngModel)]="member.firstName"
					   required
					   #firstName="ngModel" />
				<label for="firstName">First Name</label>
				<div class="validator-bottom m-0"
					 *ngIf="firstName.touched && !firstName.valid">
					<em>First Name is required</em>
				</div>
			</div>
			<div class="form-floating mb-2">
				<input type="text"
					   class="form-control"
					   id="lastName"
					   name="lastName"
					   placeholder="Last Name"
					   [(ngModel)]="member.lastName"
					   required
					   #lastName="ngModel" />
				<label for="lastName">Last Name</label>
				<div class="validator-bottom m-0"
					 *ngIf="lastName.touched && !lastName.valid">
					<em>Last Name is required</em>
				</div>
			</div>
			<input type="checkbox"
				   id="inactive"
				   name="inactive"
				   [(ngModel)]="member.inactive"
				   #inactive="ngModel" />
			<label for="inactive" class="ms-2 mb-2">Inactive</label>
			<div class="d-flex flex-row-reverse">
				<button type="submit" class="btn btn-primary" [disabled]="!editMemberForm.valid">Save</button>
				<button type="button" class="btn btn-secondary me-2" [routerLink]="['/members', member.memberId]">Cancel</button>
			</div>
			<span class="text-danger fw-bold">{{ errorMessage }}</span>
		</form>
	</div>
</div>
