<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
	<div class="container">
		<a class="navbar-brand" routerLink="/home">The Lindy Circle</a>
		<button type="button" class="navbar-toggler mb-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<div *ngIf="isUserAuthenticated" class="navbar-nav flex-grow-1">
				<a class="nav-link text-light" routerLink="/members" routerLinkActive="text-dark active">Members</a>
				<a class="nav-link text-light" routerLink="/practices" routerLinkActive="text-dark active">Practices</a>
				<a class="nav-link text-light" routerLink="/punchcards" routerLinkActive="text-dark active">Punch Cards</a>
				<a class="nav-link text-light" routerLink="/attendance" routerLinkActive="text-dark active">Attendance</a>
			</div>
			<div *ngIf="isUserAuthenticated; else login" class="navbar-nav ms-auto">
				<a class="nav-link text-light" (click)="logout()">Logout</a>
				<a class="nav-link text-light" routerLink="/account/profile" routerLinkActive="text-dark active">Profile</a>
			</div>
			<ng-template #login>
				<div class="navbar-nav ms-auto">
					<a class="nav-link text-light" routerLink="/account/login">Login</a>
					<a class="nav-link text-light" routerLink="/account/register">Register</a>
				</div>
			</ng-template>
		</div>
	</div>
</nav>
