<main class="row justify-content-center">
    <div class="col-auto">
        <button *ngIf="isUserAdmin" type="button" class="btn btn-dark m-2 float-end" (click)="addClick(memberModal)">Add New Member</button>

        <div class="table-fix-head table-clear-float">
            <table class="table table-striped table-hover text-nowrap row-md">
                <thead>
                    <tr>
                        <th style="width: 92px;">
                            <div style="text-align: right; line-height: 20px; padding-bottom: 8px; padding-right: 4px;">
                                Search
                            </div>
                            <div *ngIf="isUserAdmin" style="text-align: center; padding-right: 6px;">
                                Actions
                            </div>
                            <div *ngIf="!isUserAdmin" style="text-align: center;">
                                &nbsp;
                            </div>
                        </th>
                        <th class="hidden">
                            ID
                        </th>
                        <th>
                            <div class="d-flex flex-row">
                                <input class="form-control header-search mb-1" [(ngModel)]="firstNameFilter" (keyup)="filterMembers()" placeholder="First name" />
                            </div>
                            <a (click)="sortResult('firstName', 'firstNameSort');">First Name <i class="bi bi-arrow-down-up"></i></a>
                        </th>
                        <th>
                            <div class="d-flex flex-row">
                                <input class="form-control header-search mb-1" [(ngModel)]="lastNameFilter" (keyup)="filterMembers()" placeholder="Last name" />
                            </div>
                            <a (click)="sortResult('lastName', 'lastNameSort');">Last Name <i class="bi bi-arrow-down-up"></i></a>
                        </th>
                        <th class="hidden">
                            Inactive
                        </th>
                        <th>
                            Active<input type="checkbox" class="ms-2" [(ngModel)]="activeFilter" (change)="filterMembers()" />
                        </th>
                        <th class="text-end">
                            Punches
                        </th>
                        <th class="text-end">
                            <a (click)="sortResult('totalPaid', 'totalPaidSort');">Total Paid <i class="bi bi-arrow-down-up"></i></a>
                        </th>
                        <th class="text-end">
                            <a (click)="sortResult('totalAttendance', 'attendanceSort');">Attendance <i class="bi bi-arrow-down-up"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of members">
                        <td class="actionsColumn">
                            <div *ngIf="isUserAdmin">
                                <a [routerLink]="['/members', member.memberId]">
                                    <i class="bi bi-person-circle" tooltip="Member details"></i>
                                </a>
                                <a (click)="editClick(member, memberModal)">
                                    <i class="bi bi-pencil-square" tooltip="Edit member name/active status"></i>
                                </a>
                                <!-- For testing error messages -->
                                <!--<a (click)="confirmDelete(member)">
                                    <i class="bi bi-trash-fill" tooltip="Delete member"></i>
                                </a>-->
                                <a *ngIf="member.totalAttendance==0&&member.totalPaid==0; else disableDelete" (click)="confirmDelete(member)">
                                    <i class="bi bi-trash-fill" tooltip="Delete member"></i>
                                </a>
								<ng-template #disableDelete>
									<i class="bi bi-trash-fill fade-icon"></i>
								</ng-template>
                            </div>
                        </td>
                        <td class="hidden">{{member.memberId}}</td>
                        <td>{{member.firstName}}</td>
                        <td>{{member.lastName}}</td>
                        <td class="hidden">{{member.inactive}}</td>
                        <td>{{member.activeText}}</td>
                        <td class="text-end">{{member.remainingPunches}}</td>
                        <td class="text-end">{{member.totalPaid | number: '1.2-2'}}</td>
                        <td class="text-end">{{member.totalAttendance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<ng-template #memberModal>
    <form [formGroup]="memberForm" (ngSubmit)="onMemberFormSubmit()">
        <div class="modal-header">
            <h5 class="modal-title">{{modalTitle}}</h5>
            <button type="button" class="btn-close" (click)="closeMemberForm()"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName" />
                <label for="firstName">First Name</label>
            </div>
            <div class="validator-bottom" *ngIf="validateControl('firstName') && hasError('firstName', 'required')">
                <em>First Name is required</em>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName" />
                <label for="lastName">Last Name</label>
            </div>
            <div class="validator-bottom" *ngIf="validateControl('lastName') && hasError('lastName', 'required')">
                <em>Last Name is required</em>
            </div>
            <div *ngIf="memberForm.value.memberId!=0" class="input-group">
                <div class="input-group">
                    <input class="form-check-input me-2" type="checkbox" id="inactive" formControlName="inactive" />
                    <label class="form-check-label" for="inactive">Inactive</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!memberForm.valid">Save</button>
        </div>
    </form>
</ng-template>
