<div class="row">
    <div class="col-md-5">
        <h3>Password Reset</h3>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <div *ngIf="showSuccess" class="alert alter-success" role="alert">
            {{successMessage}}
        </div>

        <form [formGroup]="forgotForm" novalidate (ngSubmit)="forgotPassword()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userName" placeholder="Username" formControlName="userName" />
                <label for="userName">Username</label>
            </div>
            <div class="validator-bottom" *ngIf="validateControl('userName') && controlHasError('userName', 'required')">
                <em>Username is required</em>
            </div>
            <div class="form-group-row">
                <div class="text-end">
                    <button type="submit" class="btn btn-primary" [disabled]="!forgotForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
