<main class="row justify-content-center">
	<div class="col col-auto" style="min-width: 700px;">
		<div class="row">
			<div class="form-floating mb-3 col-3">
				<input type="date" class="form-control" id="startDateFilter" [(ngModel)]="startDateFilter" (blur)="filterPractices()" />
				<label for="startDateFilter" class="ms-2">Starting Date</label>
			</div>
			<div class="form-floating mb-3 col-3">
				<input type="date" class="form-control" id="endDateFilter" [(ngModel)]="endDateFilter" (blur)="filterPractices()" />
				<label for="endDateFilter" class="ms-2">Ending Date</label>
			</div>
		</div>

		<div class="table-fix-head table-clear-float">
			<table class="table table-striped table-hover row-md">
				<thead>
					<tr>
						<th style="width: 62px;">
							<div *ngIf="isUserAdmin" style="text-align: center; padding-right: 6px;">
								Actions
							</div>
							<div *ngIf="!isUserAdmin" style="text-align: center;">
								&nbsp;
							</div>
						</th>
						<th class="hidden">
							ID
						</th>
						<th style="width: 68px;">
							<a (click)="sortResult('practiceNumber', 'numberSort');">Num <i class="bi bi-arrow-down-up"></i></a>
						</th>
						<th>
							<div style="text-align: right; line-height: 20px; padding-bottom: 8px;">
								Search
							</div>
							<a (click)="sortResult('practiceDate', 'dateSort');">Date <i class="bi bi-arrow-down-up"></i></a>
						</th>
						<th>
							<div class="d-flex flex-row">
								<input class="form-control header-search mb-1" [(ngModel)]="practiceTopicFilter" (keyup)="filterPractices()" placeholder="Topic" />
							</div>
							Topic
						</th>
						<th class="text-end" style="width: 70px;">
							<a (click)="sortResult('practiceCost', 'practiceCostSort');">Rental Cost <i class="bi bi-arrow-down-up"></i></a>
						</th>
						<th class="text-end" style="width: 96px;">
							<a (click)="sortResult('attendanceRevenue', 'attendanceRevenueSort');">Attendance Revenue <i class="bi bi-arrow-down-up"></i></a>
						</th>
						<th class="text-end" style="width: 96px;">
							<a (click)="sortResult('miscExpense', 'miscExpenseSort');">Misc Expense <i class="bi bi-arrow-down-up"></i></a>
						</th>
						<th class="text-end" style="width: 96px;">
							<a (click)="sortResult('miscRevenue', 'miscRevenueSort');">Misc Revenue <i class="bi bi-arrow-down-up"></i></a>
						</th>
						<th class="text-end" style="width: 84px;">
							<a (click)="sortResult('attendeeCount', 'attendanceSort');">Atten- dance <i class="bi bi-arrow-down-up"></i></a>
						</th>
					</tr>
				</thead>
				<tbody class="text-nowrap">
					<tr *ngFor="let practice of practices">
						<td class="actionsColumn">
							<div *ngIf="isUserAdmin">
								<a [routerLink]="['/practices', practice.practiceId]">
									<i class="bi bi-card-heading" tooltip="Practice details"></i>
								</a>
								<a *ngIf="practice.attendeeCount==0" (click)="confirmDelete(practice)">
									<i class="bi bi-trash-fill" tooltip="Delete practice"></i>
								</a>
								<i *ngIf="practice.attendeeCount>0" class="bi bi-trash-fill fade-icon"></i>
							</div>
						</td>
						<td class="hidden">{{practice.practiceId}}</td>
						<td>{{practice.practiceNumber}}</td>
						<td>{{practice.practiceDate | date: 'yyyy-LL-dd'}}</td>
						<td class="text-wrap">{{practice.practiceTopic}}</td>
						<td class="text-end">{{practice.practiceCost | number: '1.2-2'}}</td>
						<td class="text-end">{{practice.attendanceRevenue | number: '1.2-2'}}</td>
						<td class="text-end">{{practice.miscExpense | number: '1.2-2'}}</td>
						<td class="text-end">{{practice.miscRevenue | number: '1.2-2'}}</td>
						<td class="text-end">{{practice.attendeeCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
